.slide--5 {
	height: auto !important;
	max-width: none !important;
	@include micro-clearfix;
	.slide {
		&__container {
			left: auto;
			margin: 1em auto 6em;
			position: relative;
			top: auto;
			transform: none;
			@include micro-clearfix;
		}
		&__content {
			left: auto;
			margin: 2em auto 0;
			position: static;
			text-align: center;
			width: calc(100% - 2em);
			@media #{$information-large} {
				max-width: 480px;
			}
		}
		&__title {
			margin-bottom: .5em;
		}
	}
	.main-image {
		height: 277px;
		max-width: 95%;
		margin: 1em auto;
		position: relative;
		width: 381px;
		transform: none !important;
		@media #{$information-large} {
			width: 762px;
			height: 474px;
		}
	}
}
.mail-to {
	background: rgba(255, 255, 255, 0.5);
  	border: 1px solid rgba(255, 255, 255, 0.65);
	color: black;
	cursor: pointer;
	font-family: $main-font;
	padding: .25em;
	&:first-of-type {
		margin-right: .5em;
	}
	&:last-of-type {
		margin-left: .5em;
	}
}