figure.main-image
	include ./bike-images/1Base-02.html
	include ./bike-images/2Design1-02.html
	include ./bike-images/3Design2A-02.html
	include ./bike-images/4Design2B-02.html
	include ./bike-images/5Design3A-02.html
	include ./bike-images/6Design3B-02.html
	include ./bike-images/7Logo-02b.html
	img.main-image__highlights(src="http://jeffry.in/ritte-ace/assets/images/8Highlights-02.png" alt="highlights")