figure.main-image
	include ./bike-images/1Base-03.html
	include ./bike-images/2Design1-03.html
	include ./bike-images/3Design2A-03.html
	include ./bike-images/4Design2B-03.html
	include ./bike-images/5Design3A-03.html
	include ./bike-images/6Design3B-03.html
	include ./bike-images/7Logo-03b.html
	img.main-image__highlights(src="/assets/images/8Highlights-03.png" alt="highlights")
	img.main-image__components(src="/assets/images/Components.png" alt="highlights")
